html, body, section{
	height: 100%;
	font-family: 'Yantramanav', sans-serif;
}

/*NAVEGADOR*/

nav{
	text-align: center;
	bottom: 3%;
	width: 100%;
	position: fixed;
}

nav div:nth-child(n):nth-child(-n+4){
	border-right: 1px solid #6b6b6b;
}

nav div a{
	color:#6b6b6b;
	text-decoration: none;
}

nav div a:hover{
	color: #3eb5c0;
	text-decoration: none;
}
nav div a:focus{
	color:#3eb5c0;
	text-decoration: none;
}

.menu_text{
	font-size: 1.5em;
	font-family: 'Yantramanav', sans-serif;
	margin: 0;
}

/***INICIO***/

#inicio .name{
	font-size: 2em;
}
.flex-cont{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.logo{
	margin:0 auto;
}

.logo img{
	width: 30em;
}

.height-50{
	height: 50vh;
}

.pd-15{
	padding: 12%;
}
/***NOSOTROS***/
.img-nosotros{
	background: url(../img/nosotros.jpg) center;
	background-size: cover;
}

.img-pag-web{
	background: url(../img/paginasweb.jpg) center;
	background-size: cover;
}

.img-id-coorp{
	background: url(../img/identidadc.jpg) center;
	background-size: cover;
}

.bk-grey{
	background-color: #EDEDED;
}

.inf-izq{
align-self: flex-end;
}

.txt-center{
	text-align: center;
}