html, body, section{
	height: 100%;
	font-family: 'Yantramanav', sans-serif;
}

p{
	font-size: 2.3em;
}

/**LOADER**/

#loader{
	position: absolute;
	background-color: #F8F8F8;
	width: 100%;
	height: 100vh;
	transition-property: all;
	transition-duration: 2s;
	transition-timing-function: linear;
}

.loaded {
	transform: translateY(-100%);
}

.logo-loader{
	text-align: center;
	font-family: 'Yantramanav', sans-serif;
}

	.logo-loader__img{
		width: 15em;
	}

	.logo-loader__name{
		font-size: 1.2em;
	}

	.logo-loader__icon{
		color:#6b6b6b;
	}

/***MENU***/

.menu{
	text-align: center;
	bottom: 0%;
	width: 100%;
	position: fixed;
	transform: translateX(-100%);
	transition-property: all;
	transition-duration: 2s;
	transition-timing-function: ease;
	background-color: #FFFFFF;
	/*border-top: 1px solid #6b6b6b ;*/
	padding-top: 30px;
	padding-bottom: 30px;
	box-shadow: 0 -3px 3px -3px #ededed;
}

	.menu__loaded{
		transform: translateX(0%);
	}

	.menu__item:nth-child(n):nth-child(-n+4){
		border-right: 1px solid #6b6b6b;
	}

		.menu__item__anchor{
			color:#6b6b6b;
			text-decoration: none;					
		}

		.menu__item__anchor:hover{
			color: #3eb5c0;
			text-decoration: none;
		}


		.menu__item__anchor:focus{
			color: #3eb5c0;
			text-decoration: none;
		}

		.menu__item__anchor i{
			font-size: 3em;	
		}

		.menu__item__text{
			font-family: 'Yantramanav', sans-serif;
			margin: 0;
		}
		.active a{
			color:#3eb5c0;
			text-decoration: none;
		}

/***INICIO***/
.logo{
	text-align: center;
}

	.logo__img{
		width: 25em;
	}

	.logo__name{
		font-size: 1.5em;
	}


/***NOSOTROS***/
.we-are{
	background-color: #EDEDED;
	height: 50vh;
}

.we-are__text{
	padding: 12%;
}

.team{
	background: url(../img/nosotros.jpg) left;
	background-size: cover;
	height: 50vh;
}

/***SERVICIOS***/
.service{
	height: 50vh;
}

	.service__title{
		font-weight: bold;
	}

	.service__button{
		padding: 7px 12px;
		border-color: transparent;
		border-radius: 5px;
		background-color: #e8725d;
		color: #fff;
	}

	.service__button:hover{
		background-color: #dd5840; 	
	}

.web-page{
	background: url(../img/paginasweb.jpg) center;
	background-size: cover;
}

.corporate-identity{
	background: url(../img/identidadc.jpg) center;
	background-size: cover;
}

/***PORTFOLIO***/
.portfolio{
	text-align: center;
}

.portfolio .col-xs-6{
	padding: 0px;
}

.portfolio__button{
	width: 100%;
	background-color: #e8725d;
	padding: 10px ;
}

.portfolio__button:hover{
	background-color: #dd5840;
}


/*** CONTACTO ***/
.contact__circle{
	width: 70px;
	height: 70px;
	border: 2px solid #e8725d;
	border-radius: 50%;
	color:#6b6b6b;
	text-decoration: none;
}

.contact__circle:hover{
	color:#000;
	text-decoration: none;
}



/*** ***/
.flex-container{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}



@media screen and (min-width: 992px) {
	.we-are, .team, .web-page, .corporate-identity{
		height: 100vh;
	}
	
	.menu{
		padding-top: 12px;
		padding-bottom: 12px;
	}

	.menu__item__anchor i{
		font-size: 2em;	
	}

	p{
		font-size: 1.3em;
	}
}