html, body, section{
	height: 100%;
	font-family: 'Yantramanav', sans-serif;
}

/***MENU***/

.menu{
	text-align: center;
	bottom: 3%;
	width: 100%;
	position: fixed;
}

	.menu__item:nth-child(n):nth-child(-n+4){
		border-right: 1px solid #6b6b6b;
	}

		.menu__item__anchor{
			color:#6b6b6b;
			text-decoration: none;
		}

		.menu__item__anchor:hover{
			color: #3eb5c0;
			text-decoration: none;
		}
		.menu__item__anchor:focus{
			color:#3eb5c0;
			text-decoration: none;
		}

		.menu__item__text{
			font-size: 1.5em;
			font-family: 'Yantramanav', sans-serif;
			margin: 0;
		}

/***INICIO***/
.logo{
	text-align: center;
}

	.logo__img{
		width: 30em;
	}

	.logo__name{
		font-size: 2em;
	}


/***NOSOTROS***/
.we-are{
	background-color: #EDEDED;
	height: 50vh;
}

.we-are__text{
	padding: 12%;
}

.team{
	background: url(../img/nosotros.jpg) center;
	background-size: cover;
	height: 50vh;
}


/***SERVICIOS***/
.service{
	height: 50vh;
}

	.service__title{
		font-weight: bold;
	}

	.service__button{
		padding: 7px 12px;
		border-color: transparent;
		border-radius: 5px;
		background-color: #e8725d;
		color: #fff;
	}

	.service__button:hover{
		background-color: #dd5840; 	
	}

.web-page{
	background: url(../img/paginasweb.jpg) center;
	background-size: cover;
}

.corporate-identity{
	background: url(../img/identidadc.jpg) center;
	background-size: cover;
}

/***PORTFOLIO***/

.portfolio{
	
}

.portfolio__button{
	width: 100%;
}


/*** ***/
.flex-container{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
