#corporate-identity{
	background-color: #F8F8F8;
}

#web-page .paquetes__info{
	background-color: #3eb5c0;
}

#corporate-identity .paquetes__info{
	background-color: #e8725d;
}

.paquetes__info{
	text-align: center;
	padding: 25px 35px;
	color: #fff;
	border-radius: 10px;
	border: 1px solid #888;
}

.paquete-centro{
	background-color: #F8F8F8 !important;
	color: #666;
} 

	ul{
		text-align: left;
	}

	h2{
		margin-bottom: 50px;
	}

.paquetes__button{
	padding: 7px 12px;
	border-color: #F8F8F8;
	border-radius: 5px;
	background-color: #ffffff;
	color: #000;
	box-shadow: none;
}

#web-page .button-center{
	background-color: #3eb5c0;
	color: #fff;
}

#corporate-identity .button-center{
	background-color: #e8725d;
	color: #fff;
}

.paquetes__button:hover{
	background-color: #F8F8F8;
	border-color: #F8F8F8;
}

.paquetes__price{
	font-size: 2.7em;
	font-weight: bold;
}

@media screen and (min-width: 200px) and (max-width: 778px) {
	
	#corporate-identity, #web-page{
		height: auto;
		padding-top: 40px;
		padding-bottom: 20px;
	}

	h2{
	 	margin-bottom: 20px;
	}

	.paquetes__info{
		margin-top: 10px;
		margin-bottom: 10px;
	}

}
